/* 
style.css : 부트스트랩5와 함께 사용할 스타일 시트

Color code
    Deep green : #527853
    Ivory : #F9E8D9
    Bright orange : #F7B787
    Deep orange : #EE7214

*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

/* 텍스트 스타일 */
.top3-title-text {
  margin-left: 10%;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  margin-bottom: 3rem;
  text-shadow: 0.5rem 0.5rem 0.5rem grey;
}
.text-bold {
  font-weight: bolder;
}

/* 이미지 스타일 */
.svg-shadow {
  filter: drop-shadow(1rem 1rem 1rem grey);
}
.bi-emoji-smile:hover::after {
  content: "쾌적";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 폰트 */
.sans-serif {
  font-family: 'sans-serif';
}
.times-new-roman {
  font-family: 'Times New Roman';
}





